<h1>Summary</h1>

<h2>Expenses</h2>
<ul>
    <li>Food: {{ food_amt }} </li>
    <li>Travel: {{ travel_amt }} </li>
    <li>Shopping: {{ shopping_amt }}</li>
    <li>Necessities: {{ necessities_amt }}</li>
    <li>Entertainment: {{ entertainment_amt }}</li>
    <li>Subscriptions: {{ subscriptions_amt }}</li>
    <li>Other: {{ other_amt }}</li> 
</ul>
<div>Total Spendings: {{ totals }}</div>

<h2>Incomes</h2>
<ul>
    <li>Work: {{ work_amt_incomes }} </li>
    <li>Other: {{ other_amt_incomes }}</li>
</ul>
<div>Total Income: {{ totals_incomes }}</div>



<a href="/home/">Go home</a>